@font-face {
  font-family: "Animals";
  src: url(animal.ttf) format("truetype");
}

body{
  background-image: url("../images/bamboo.jpg");
}

.title h1{
	font-family: "Animals", sans-serif;
	font-size: 100px;
	background: url("../images/forest.jpg") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
	0% {background-position: left;}
	100% {background-position: right;}
}

.header-img {
	height: 100px; 
}

.image-section h4{
	padding: 20px 0;
    font-size: 140%;
    text-align: center;
    color: #fff;
    margin: -20px -20px 20px -20px;
    background: #7c6f13; 
    border-radius: 50%;
}

.search-box{
	background: #baea94;
    border: 5px double #e6f5d1;
    padding: 20px;
}

input[type=text]{
	margin-bottom: 5px; 
}

.animals, .submit {
	margin: 5px 3px; 
	background-color: #3c763d;
    border-color: #1b461c;
}

.animal-img{
	width: 200px;
	height: 100px;
	margin-left: 30px;
	margin-bottom: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.image-section{
	padding: 20px;
	border-style: solid;
	border-width: 0 14px;
	-moz-border-image: url(../images/separator.png) 32 55 repeat;
	-webkit-border-image: url(../images/separator.png) 32 55 repeat;
	-o-border-image: url(../images/separator.png) 32 55 repeat;
	border-image: url(../images/separator.png) 32 55 repeat;
}

.list-animal{
	/*border: 1px solid grey;*/
	padding: 20px;
	margin-bottom: 20px;
	background: #baea94;
    border: 5px solid #d6eec5;
}

footer { 
	margin-top: 10px;
}